

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="padding-top:40px">
        <div id="sheet" class="handsontable span4"></div>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-6" style="padding-top:40px">  
      </div>
    </div>
  </div>
</div>
