@import "twitter/bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hero
{
  background-image:url(http://gembells.com/img/2013/08/Twitter-Bird-Wallpapers.jpg);
  min-height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.nav
{
  padding-top: 10px
}

.welcome_box
{
  color:white
}

.alert-info 
{
  padding:15px; 
  margin:10px
}

.admin_sheet
{
  padding-top: 40px
}